*{
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    text-align: center;
}

main{
    width: 80%;
    margin: 0 auto;
}

#new-note-area{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#new-note{
    border-radius: 5px;
}

.btn{
    border-radius: 50%;
    border: 1px solid black;
    padding:  5px 13px;
    font-size: 150%;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background-color: lightgrey;
}

.btn:active{
    background-color: grey;
}

#note-list{
    width: 90%;
}

.note{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}