*{
    box-sizing: border-box;
    font-family: sans-serif;
    cursor: default;
}

header{
    text-align: center;
    margin-bottom: 45px;
}

main{
    width: 80%;
    margin: 0 auto;
}

#new-note-area{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 35px;
}

#new-note{
    border-radius: 5px;
    cursor: text;
}

.btn{
    border-radius: 50%;
    border: 1px solid black;
    padding:  5px 13px;
    font-size: 150%;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 5px;
}

.btn:hover{
    background-color: lightgray;
}

.btn:active{
    background-color: gray;
}

#note-list{
    width: 90%;
}

.note{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 250, 250);
    padding: 25px 10px;
    border-bottom: 1px solid gray;
    transition: 0.3s;
}

.note:hover{
    background-color: rgb(245, 245, 245);
}